@model progCMCS.Models.Claim

<h2>Submit New Claim</h2>
<form method="post">
    <label>Amount:</label>
    <input type="number" step="0.01" name="ClaimAmount" /><br /><br />

    <label>Description:</label>
    <textarea name="Description"></textarea><br /><br />

    <input type="submit" value="Submit Claim" />
</form>
